absl-py
alabaster
appnope
astor
astroid
Babel
bleach
certifi
chardet
cloudpickle
cycler
decorator
docutils
entrypoints
gast
grpcio
html5lib
idna
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbconvert
nbformat
notebook
numpy
numpydoc
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
ptyprocess
pycodestyle
pyflakes
Pygments
pylint
pyparsing
PyQt5
python-dateutil
pytz
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
requests
rope
scikit-learn
scipy
Send2Trash
simplegeneric
sip
six
sklearn
snowballstemmer
Sphinx
sphinxcontrib-websupport
spyder
tensorboard
tensorflow
termcolor
terminado
testpath
Theano
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
