absl-py
alabaster
appnope
astor
astroid
Babel
bleach
certifi
chardet
cloudpickle
cycler
decorator
docutils
entrypoints
gast
grpcio
html5lib
idna
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbconvert
nbformat
notebook
numpy
numpydoc
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
ptyprocess
pycodestyle
pyflakes
Pygments
pylint
pyparsing
PyQt5
python-dateutil
pytz
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
requests
rope
scikit-learn
scipy
Send2Trash
simplegeneric
sip
six
sklearn
snowballstemmer
Sphinx
sphinxcontrib-websupport
spyder==3.2.7
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1
tornado==5.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.4
wrapt==1.10.11
